@import "tailwindcss";

/* app/globals.css */
:root {
  --background: #ffffff;
  --foreground: #020617;
}

.dark {
  --background: #050505;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: all 0.3s ease;
}