@import "tailwindcss";

:root {
  --background: #fdfdfd; /* Halka sa off-white */
  --foreground: #0f172a;
  --card-bg: #ffffff;
  --card-border: #e2e8f0;
}

.dark {
  --background: #050505;
  --foreground: #f8fafc;
  --card-bg: rgba(255, 255, 255, 0.03);
  --card-border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}